{% block ovv_entity_detail %}
<sw-page class="ovv-entity-detail">

    {% block ovv_entity_detail_header %}
    <template #smart-bar-header>
        <h2>{{ title }}</h2>
    </template>
    {% endblock %}

    {% block ovv_entity_detail_actions %}
    <template #smart-bar-actions>

        {% block ovv_entity_detail_actions_abort %}
        <sw-button :disabled="isLoading" @click="onCancel">
            {{ $tc('global.default.cancel') }}
        </sw-button>
        {% endblock %}

        {% block ovv_entity_detail_actions_save %}
        <sw-button-process
            variant="primary"
            :disabled="!canSave"
            :process-success="isSaveSuccessful"
            @process-finish="onSaveFinish"
            @click="onSave"
        >
            {{ $tc('global.default.save') }}
        </sw-button-process>
        {% endblock %}

    </template>
    {% endblock %}

    {% block ovv_entity_detail_language_switch %}
    <template #language-switch>
        <sw-language-switch
            :disabled="!canSwitchLanguage"
            :save-changes-function="saveOnLanguageChange"
            :abort-change-function="abortOnLanguageChange"
            :save-permission="canSwitchLanguage"
            :allow-edit="canSwitchLanguage"
            @on-change="onChangeLanguage"
        />
    </template>
    {% endblock %}

    {% block ovv_entity_detail_content %}
    <template #content>
        <sw-card-view>

            {% block ovv_entity_detail_language_info %}
            <sw-language-info
                v-if="entity"
                :entity-description="title"
                :is-new-entity="isNew"
            />
            {% endblock %}

            {% block ovv_entity_detail_card_id %}
            <sw-card
                v-if="cardIdIsVisible"
                position-identifier="ovv-entity-detail-id-card"
                :is-loading="isLoading"
            >
                <div>ID: <strong>{{ entity.autoIncrement }}</strong></div>
            </sw-card>
            {% endblock %}

            {% block ovv_entity_detail_card_general %}
            <sw-card
                v-if="entity"
                position-identifier="ovv-entity-detail-general-card"
                :is-loading="isLoading"
            >

                {% block ovv_entity_detail_active %}
                <sw-switch-field
                    v-model="entity.active"
                    :label="t('active')"
                    :disabled="!canEdit"
                    no-margin-top
                    bordered
                />
                {% endblock %}

                {% block ovv_entity_detail_sales_channel %}
                <sw-entity-single-select
                    v-model="entity.salesChannelId"
                    :label="$tc('global.entities.sales_channel')"
                    :disabled="!canEdit"
                    entity="sales_channel"
                    show-clearable-button
                />
                {% endblock %}

                {% block ovv_entity_detail_type %}
                <sw-entity-single-select
                    v-model="entity.typeId"
                    :label="t('type')"
                    :disabled="!canEdit"
                    :placeholder="pholder('type')"
                    entity="ovv_entity_type"
                    show-clearable-button
                />
                {% endblock %}

                {% block ovv_entity_detail_name %}
                <sw-text-field
                    v-model="entity.name"
                    :label="t('name')"
                    :placeholder="pholder('name')"
                    :disabled="!canEdit"
                    :error="entityNameError"
                    :required="isDefaultLanguage"
                />
                {% endblock %}

                {% block ovv_entity_detail_slug %}
                <sw-text-field
                    v-model="entity.slug"
                    :label="t('slug')"
                    :placeholder="pholder('slug')"
                    :disabled="!canEdit"
                    :error="entitySlugError"
                />
                {% endblock %}

                {% block ovv_entity_detail_description %}
                <sw-textarea-field
                    v-model="entity.description"
                    :label="t('description')"
                    :placeholder="pholder('description')"
                    :disabled="!canEdit"
                    :error="entityDescriptionError"
                    maxlength="65535"
                    class="sw-field--no-margin-bottom"
                />
                {% endblock %}

            </sw-card>
            {% endblock %}

            {% block ovv_entity_detail_card_media %}
            <sw-card
                v-if="entity"
                position-identifier="ovv-entity-detail-media-card"
                :title="t('media')"
                :is-loading="isLoading"
            >

                {% block ovv_entity_detail_card_media_form %}
                <ovv-entity-media-form
                    :entity="entity"
                    :disabled="!canEdit"
                    @media-open="onOpenMediaModal"
                />
                {% endblock %}

            </sw-card>
            {% endblock %}

            {% block ovv_entity_detail_card_custom_field_sets %}
            <sw-card
                v-if="cardCustomFieldSetsIsVisible"
                position-identifier="ovv-entity-detail-custom-field-sets-card"
                :title="t('customFields')"
                :is-loading="isLoading"
            >
                <sw-custom-field-set-renderer
                    :entity="entity"
                    :sets="customFieldSets"
                    :disabled="!canEdit"
                />
            </sw-card>
            {% endblock %}

            {% block ovv_entity_detail_media_modal %}
            <sw-media-modal-v2
                v-if="showMediaModal"
                :initial-folder-id="mediaDefaultFolderId"
                :entity-context="entity.getEntityName()"
                @media-modal-selection-change="onAddMedia"
                @modal-close="onCloseMediaModal"
            />
            {% endblock %}

        </sw-card-view>
    </template>
    {% endblock %}

</sw-page>
{% endblock %}
