{% block ovv_entity_template_detail %}
<sw-page class="ovv-entity-template-detail">

    {% block ovv_entity_template_detail_header %}
    <template #smart-bar-header>
        <h2>{{ title }}</h2>
    </template>
    {% endblock %}

    {% block ovv_entity_template_detail_actions %}
    <template #smart-bar-actions>

        {% block ovv_entity_template_detail_actions_abort %}
        <sw-button :disabled="isLoading" @click="onCancel">
            {{ $tc('global.default.cancel') }}
        </sw-button>
        {% endblock %}

        {% block ovv_entity_template_detail_actions_save %}
        <sw-button-process
            variant="primary"
            :disabled="!canSave"
            :process-success="isSaveSuccessful"
            @process-finish="onSaveFinish"
            @click="onSave"
        >
            {{ $tc('global.default.save') }}
        </sw-button-process>
        {% endblock %}

    </template>
    {% endblock %}

    {% block ovv_entity_template_detail_language_switch %}
    <template #language-switch>
        <sw-language-switch
            :disabled="!canSwitchLanguage"
            :save-changes-function="saveOnLanguageChange"
            :abort-change-function="abortOnLanguageChange"
            :save-permission="canSwitchLanguage"
            :allow-edit="canSwitchLanguage"
            @on-change="onChangeLanguage"
        />
    </template>
    {% endblock %}

    {% block ovv_entity_template_detail_content %}
    <template #content>
        <sw-card-view>

            {% block ovv_entity_template_detail_language_info %}
            <sw-language-info
                v-if="entity"
                :entity-description="title"
                :is-new-entity="isNew"
            />
            {% endblock %}

            {% block ovv_entity_template_detail_card_id %}
            <sw-card
                v-if="cardIdIsVisible"
                position-identifier="ovv-entity-template-detail-id-card"
                :is-loading="isLoading"
                large
            >
                <div>ID: <strong>{{ entity.autoIncrement }}</strong></div>
            </sw-card>
            {% endblock %}

            {% block ovv_entity_template_detail_card_general %}
            <sw-card
                v-if="entity"
                position-identifier="ovv-entity-template-detail-general-card"
                :is-loading="isLoading"
                large
            >

                {% block ovv_entity_template_detail_name %}
                <sw-text-field
                    v-model="entity.name"
                    :label="t('name')"
                    :placeholder="pholder('name')"
                    :disabled="!canEdit"
                    :error="entityNameError"
                    :required="isDefaultLanguage"
                />
                {% endblock %}

                {% block ovv_entity_template_detail_slug %}
                <sw-text-field
                    v-model="entity.slug"
                    :label="t('slug')"
                    :placeholder="pholder('slug')"
                    :disabled="!canEdit"
                    :error="entitySlugError"
                />
                {% endblock %}

                {% block ovv_entity_template_detail_template %}
                <sw-code-editor
                    v-model="entity.template"
                    :label="t('template')"
                    :disabled="!canEdit"
                    :error="entityTemplateError"
                    :required="isDefaultLanguage"
                />
                {% endblock %}

            </sw-card>
            {% endblock %}

        </sw-card-view>
    </template>
    {% endblock %}

</sw-page>
{% endblock %}
